* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.clearfix {
  content: "";
  display: block;
  clear: both; }

html, body {
  width: 100%; }

body {
  background: url(../img/content_bg.png) repeat-y; }

.header {
  width: 100%; }
  .header .top {
    padding: 3px 0;
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #fff;
    background: url(../img/background_02.png) repeat-y; }
    .header .top .header_top {
      background: #eef0f0;
      line-height: 26px;
      margin: 0 auto;
      width: 950px;
      height: 28px; }
      .header .top .header_top .header_left {
        float: left; }
        .header .top .header_top .header_left a {
          display: block;
          width: 166px;
          height: 26px; }
          .header .top .header_top .header_left a img {
            width: 100%; }
      .header .top .header_top .header_right {
        float: right; }
        .header .top .header_top .header_right > ul {
          float: left;
          list-style: none; }
          .header .top .header_top .header_right > ul > li {
            float: left; }
            .header .top .header_top .header_right > ul > li a {
              font-size: 14px;
              color: #000;
              text-decoration: none;
              padding: 0 10px;
              border-left: 1px solid #cdcdcd; }
            .header .top .header_top .header_right > ul > li .list_1 {
              border: none; }
          .header .top .header_top .header_right > ul:after {
            display: block;
            clear: both;
            content: ""; }
        .header .top .header_top .header_right > a {
          color: #000;
          font-size: 12px;
          border: 1px solid #dcd6c5;
          border-radius: 2px;
          background: linear-gradient(#eaecec, #fff);
          text-decoration: none;
          float: right;
          padding: 0 8px 0 12px; }
          .header .top .header_top .header_right > a span {
            font-weight: bold;
            color: #fff;
            background: linear-gradient(#b23000, #f68d1e);
            border-radius: 50%;
            padding: 3px 6px; }
        .header .top .header_top .header_right:after {
          display: block;
          clear: both;
          content: ""; }
      .header .top .header_top:after {
        display: block;
        clear: both;
        content: ""; }
    .header .top:after {
      display: block;
      clear: both;
      content: ""; }
  .header .header_middle {
    width: 100%;
    height: 100px; }
    .header .header_middle .middle_c {
      line-height: 100px;
      width: 950px;
      height: 100px;
      margin: 0 auto; }
      .header .header_middle .middle_c .header_ml {
        float: left; }
      .header .header_middle .middle_c .header_mr {
        margin-left: 300px;
        float: right; }
        .header .header_middle .middle_c .header_mr img {
          vertical-align: middle; }
        .header .header_middle .middle_c .header_mr > span:nth-child(2) {
          font-size: 16px;
          font-weight: bold; }
        .header .header_middle .middle_c .header_mr > span:nth-child(3) {
          font-size: 16px;
          color: #949597;
          font-weight: bold; }
      .header .header_middle .middle_c:after {
        display: block;
        clear: both;
        content: ""; }
  .header .header_bottom {
    width: 100%;
    height: 40px;
    background: url(../img/nav_bg.png) repeat-x; }
    .header .header_bottom .header_nav {
      width: 950px;
      height: 40px;
      margin: 0 auto; }
      .header .header_bottom .header_nav > ul {
        width: 100%;
        height: 40px; }
        .header .header_bottom .header_nav > ul > li {
          list-style: none;
          line-height: 40px;
          float: left;
          padding: 0 25px; }
          .header .header_bottom .header_nav > ul > li a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: bold; }
        .header .header_bottom .header_nav > ul:after {
          display: block;
          clear: both;
          content: ""; }

.banner {
  width: 950px;
  margin: 0 auto; }
  .banner div {
    margin-bottom: 9px;
    margin-top: 9px; }

.promotion .promotion_div {
  width: 950px;
  height: 594px;
  background: white;
  margin: 0 auto; }
  .promotion .promotion_div .promotion_left {
    margin-right: 15px;
    margin-top: 8px;
    font-size: 12px;
    float: left;
    width: 220px;
    height: 336px;
    padding-bottom: 4px;
    border: 1px solid #DCDCDC;
    background: linear-gradient(to bottom, #ffffff, #F8F8F6, #E4E5E7); }
    .promotion .promotion_div .promotion_left ul {
      width: 100%;
      height: 100%;
      margin-top: 8px; }
      .promotion .promotion_div .promotion_left ul li {
        width: 190px;
        height: 30px;
        border: 1px solid #CBCBCB;
        background: linear-gradient(to bottom, #ffffff, #F8F8F6, #E4E5E7);
        margin-bottom: 8px;
        margin-left: 8px;
        line-height: 30px;
        padding-left: 14px;
        color: #868786; }
      .promotion .promotion_div .promotion_left ul li:first-child {
        margin-top: 8px;
        margin-bottom: 22px;
        color: #606160; }

.feedback {
  float: left;
  width: 710px; }
  .feedback .feedback_top {
    width: 700px;
    height: 38px; }
    .feedback .feedback_top h3 {
      font-size: 12px;
      float: left; }
      .feedback .feedback_top h3 img {
        padding: 0 5px;
        margin-top: 16px;
        align-items: center;
        float: left; }
      .feedback .feedback_top h3 span {
        float: left;
        margin-top: 18px; }
    .feedback .feedback_top a {
      display: block;
      height: 23px;
      width: 76px;
      float: right;
      text-decoration: none;
      color: #666565;
      padding: 2px 2px 0 2px;
      border: 1px solid #e7e8e7;
      border-radius: 5px 5px 0 0;
      border-bottom: none;
      text-align: center;
      margin-top: 12px;
      margin-right: 1px; }
      .feedback .feedback_top a div {
        height: 23px;
        width: 76px;
        background: #edecec;
        border-radius: 5px 5px 0 0; }

.feedback_bottom {
  width: 700px;
  border-top: 1px solid #dcdcdc; }
  .feedback_bottom .content {
    margin: 15px 34px 0; }
    .feedback_bottom .content .content_article {
      border-bottom: 1px dashed #cccccc;
      margin-bottom: 26px;
      height: 190px; }
      .feedback_bottom .content .content_article:nth-of-type(2) {
        border: none; }
      .feedback_bottom .content .content_article .l_box {
        float: left;
        margin-right: 40px; }
        .feedback_bottom .content .content_article .l_box li {
          line-height: 28px;
          color: #999999;
          font-size: 12px; }
      .feedback_bottom .content .content_article .r_box {
        float: left;
        width: 516px; }
        .feedback_bottom .content .content_article .r_box p {
          line-height: 28px;
          font-size: 12px;
          color: #999999; }
          .feedback_bottom .content .content_article .r_box p:nth-of-type(1) span {
            color: #009999; }
          .feedback_bottom .content .content_article .r_box p:nth-of-type(2) {
            font-weight: bold; }
        .feedback_bottom .content .content_article .r_box div {
          width: 516px;
          height: 78px;
          border: 1px solid #999999;
          margin-bottom: 26px; }
          .feedback_bottom .content .content_article .r_box div b {
            font-size: 14px;
            color: #ff3333;
            font-weight: bold; }
          .feedback_bottom .content .content_article .r_box div p {
            margin: 10px 10px 11px 10px; }
  .feedback_bottom .page {
    margin-left: 262px;
    height: 68px; }
    .feedback_bottom .page li {
      float: left;
      width: 30px;
      height: 30px;
      background: url(../img/background_page.png) repeat-x;
      text-align: center;
      line-height: 30px;
      margin-right: 5px;
      color: #797979;
      margin-top: 19px; }
      .feedback_bottom .page li:first-child {
        width: 34px;
        height: 34px;
        background: #131313;
        line-height: 34px;
        color: white;
        margin-top: 17px; }

.footer {
  width: 100%; }
  .footer .footer_box {
    width: 950px;
    height: 134px;
    margin: 0 auto; }
    .footer .footer_box .footer_l {
      float: left;
      font-size: 30px;
      font-weight: bold;
      color: #5e3b33; }
      .footer .footer_box .footer_l > div {
        padding: 38px 0; }
    .footer .footer_box .footer_r {
      padding: 30px 0;
      font-size: 12px;
      float: right;
      text-align: right;
      line-height: 12px; }
      .footer .footer_box .footer_r > div {
        color: #828487;
        padding-bottom: 5px; }

/*# sourceMappingURL=feedback.css.map */
