* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

html, body {
  width: 100%; }

body {
  background: url(../img/content_bg.png) repeat-y; }

.header {
  width: 100%; }
  .header .top {
    width: 100%;
    height: 28px;
    background: url(../img/background_02.png) repeat-y; }
    .header .top .header_top {
      background: #eef0f0;
      line-height: 28px;
      margin: 0 auto;
      width: 950px;
      height: 28px; }
      .header .top .header_top .header_left {
        float: left; }
        .header .top .header_top .header_left a {
          display: block;
          width: 166px;
          height: 26px; }
          .header .top .header_top .header_left a img {
            width: 100%; }
      .header .top .header_top .header_right {
        float: right; }
        .header .top .header_top .header_right > ul {
          float: left;
          list-style: none; }
          .header .top .header_top .header_right > ul > li {
            float: left; }
            .header .top .header_top .header_right > ul > li a {
              font-size: 12px;
              color: #000;
              text-decoration: none;
              padding: 0 10px;
              border-left: 1px solid #cdcdcd; }
            .header .top .header_top .header_right > ul > li .list_1 {
              border: none; }
          .header .top .header_top .header_right > ul:after {
            display: block;
            clear: both;
            content: ""; }
        .header .top .header_top .header_right > a {
          color: #000;
          font-size: 12px;
          border: 1px solid #dcd6c5;
          border-radius: 2px;
          background: linear-gradient(#eaecec, #fff);
          text-decoration: none;
          float: right;
          padding: 0 8px 0 12px; }
          .header .top .header_top .header_right > a span {
            font-weight: bold;
            color: #fff;
            background: linear-gradient(#b23000, #f68d1e);
            border-radius: 50%;
            padding: 3px 6px; }
        .header .top .header_top .header_right:after {
          display: block;
          clear: both;
          content: ""; }
      .header .top .header_top:after {
        display: block;
        clear: both;
        content: ""; }
    .header .top:after {
      display: block;
      clear: both;
      content: ""; }
  .header .header_middle {
    width: 100%;
    height: 100px; }
    .header .header_middle .middle_c {
      line-height: 100px;
      width: 950px;
      height: 100px;
      margin: 0 auto; }
      .header .header_middle .middle_c .header_ml {
        float: left; }
      .header .header_middle .middle_c .header_mr {
        margin-left: 300px;
        float: right; }
        .header .header_middle .middle_c .header_mr img {
          vertical-align: middle; }
        .header .header_middle .middle_c .header_mr > span:nth-child(2) {
          font-size: 16px;
          font-weight: bold; }
        .header .header_middle .middle_c .header_mr > span:nth-child(3) {
          font-size: 16px;
          color: #949597;
          font-weight: bold; }
      .header .header_middle .middle_c:after {
        display: block;
        clear: both;
        content: ""; }
  .header .header_bottom {
    width: 100%;
    height: 40px;
    background: url(../img/nav_bg.png) repeat-x; }
    .header .header_bottom .header_nav {
      width: 950px;
      height: 40px;
      margin: 0 auto; }
      .header .header_bottom .header_nav > ul {
        width: 100%;
        height: 40px; }
        .header .header_bottom .header_nav > ul > li {
          list-style: none;
          line-height: 40px;
          float: left;
          padding: 0 25px; }
          .header .header_bottom .header_nav > ul > li a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: bold; }
        .header .header_bottom .header_nav > ul:after {
          display: block;
          clear: both;
          content: ""; }

.banners {
  width: 100%;
  position: relative; }
  .banners p {
    width: 950px;
    margin: 0 auto; }
    .banners p img {
      width: 100%; }

.promotion {
  width: 100%; }
  .promotion .promotion_div {
    position: relative;
    width: 950px;
    height: 594px;
    background: white;
    margin: 0 auto; }
    .promotion .promotion_div .promotion_left {
      font-size: 12px;
      float: left;
      width: 220px;
      height: 336px;
      padding-bottom: 4px;
      border: 1px solid #DCDCDC;
      background: linear-gradient(to bottom, #ffffff, #F8F8F6, #E4E5E7); }
      .promotion .promotion_div .promotion_left ul {
        width: 100%;
        height: 100%; }
        .promotion .promotion_div .promotion_left ul li {
          width: 190px;
          height: 30px;
          border: 1px solid #CBCBCB;
          background: linear-gradient(to bottom, #ffffff, #F8F8F6, #E4E5E7);
          margin-bottom: 8px;
          margin-left: 8px;
          line-height: 30px;
          padding-left: 14px;
          color: #868786; }
        .promotion .promotion_div .promotion_left ul li:first-child {
          margin-top: 8px;
          margin-bottom: 22px;
          color: #606160; }
    .promotion .promotion_div .promotion_right {
      width: 712px;
      height: 100%;
      float: left;
      margin-left: 16px; }
      .promotion .promotion_div .promotion_right .promotion_right2 {
        width: 100%;
        height: 100%; }
        .promotion .promotion_div .promotion_right .promotion_right2 > div:first-child {
          padding-top: 3px;
          height: 40px;
          width: 700px;
          line-height: 40px;
          font-size: 12px;
          color: #585858;
          border-bottom: 1px solid #DCDCDC; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:first-child .p4 {
            float: left; }
            .promotion .promotion_div .promotion_right .promotion_right2 > div:first-child .p4 img {
              margin-left: 6px;
              margin-right: 6px; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:first-child .p5 {
            float: right; }
        .promotion .promotion_div .promotion_right .promotion_right2 > div:first-child:after {
          display: block;
          content: "";
          clear: both; }
        .promotion .promotion_div .promotion_right .promotion_right2 > div:nth-child(2) {
          margin-left: 48px;
          padding-bottom: 16px;
          width: 600px;
          border-bottom: 1px dashed darkgray; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:nth-child(2) p {
            text-align: center;
            color: #575757; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:nth-child(2) p:first-child {
            margin-top: 16px;
            font-size: 16px;
            font-weight: bold; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:nth-child(2) p:last-child {
            font-size: 12px;
            margin-top: 20px; }
            .promotion .promotion_div .promotion_right .promotion_right2 > div:nth-child(2) p:last-child span {
              color: red; }
        .promotion .promotion_div .promotion_right .promotion_right2 > div:last-child {
          width: 512px;
          margin-left: 90px;
          margin-top: 30px; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:last-child img {
            width: 100%; }
          .promotion .promotion_div .promotion_right .promotion_right2 > div:last-child ul {
            width: 100%; }
            .promotion .promotion_div .promotion_right .promotion_right2 > div:last-child ul li {
              width: 100%;
              color: #666666;
              font-size: 14px;
              margin-top: 6px; }
            .promotion .promotion_div .promotion_right .promotion_right2 > div:last-child ul li:first-child {
              margin-top: 12px; }
    .promotion .promotion_div .cc {
      position: absolute;
      bottom: 16px;
      left: 500px; }
      .promotion .promotion_div .cc input {
        width: 30px;
        height: 30px;
        background: linear-gradient(to bottom, #CCCCCC, #B6B6B6, #9A9A9A);
        text-align: center;
        line-height: 30px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: #797979;
        outline: none; }
        .promotion .promotion_div .cc input.on {
          width: 35px;
          height: 35px;
          background: #1D1D1D;
          color: white;
          font-weight: bold; }
  .promotion .promotion_div:after {
    display: block;
    clear: both;
    content: ""; }

.footer {
  width: 100%; }
  .footer .footer_box {
    width: 950px;
    height: 134px;
    margin: 0 auto; }
    .footer .footer_box .footer_l {
      float: left;
      font-size: 30px;
      font-weight: bold;
      color: #5e3b33; }
      .footer .footer_box .footer_l > div {
        padding: 38px 0; }
    .footer .footer_box .footer_r {
      padding: 30px 0;
      font-size: 12px;
      float: right;
      text-align: right;
      line-height: 12px; }
      .footer .footer_box .footer_r > div {
        color: #828487;
        padding-bottom: 5px; }

/*# sourceMappingURL=xingxi1.css.map */
